[Desktop Entry]
Version=1.0
Name=Join to AD Domain
Name[pt_BR]=Juntar-se a um Domínio AD
Exec=pkexec /opt/wizard-pbis/main.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=system-software-install
Categories=System;Settings;